<?xml version="1.0" encoding="UTF-8"?>
<!-- Karabiner VirtualHID daemon. Kanata's virtual keyboard. -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.james.keyboard.karabiner-vhid</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Library/Application Support/org.pqrs/Karabiner-DriverKit-VirtualHIDDevice/Applications/Karabiner-VirtualHIDDevice-Daemon.app/Contents/MacOS/Karabiner-VirtualHIDDevice-Daemon</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Library/Logs/Kanata/karabiner-vhid.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>/Library/Logs/Kanata/karabiner-vhid.stderr.log</string>
</dict>
</plist>
